html {

    background-color: #607d8b;

}
body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: #607d8b
  -webkit-touch-callout: none;
}

#page-body {
    background-color: #607d8b
}

md-card {
  width: 800px;
  background-color: #FFFFFF;
}

#item-card {
}

#demo-card {
    background-color: #fff176;
    margin-left: auto;
    margin-right: auto;
}

.task-red {
    background-color: #e84e40;

}

.task-blue {

    background-color: #5677fc
}

.task-green {
    background-color: #72d572;
}

section {
  margin: 20px;
}

a, a:hover {
  text-decoration: none;
}

core-toolbar {
  background-color: #78909c;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

paper-button {
  margin: 0.5em 1em 0.5em 0;
  width: 10em;
  margin-left: 1em;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  /*margin-left: 1em;*/
}

paper-fab {
  position: absolute !important;
  top: 35px;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #78909c;
  color: #fff;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #ffff8d;
}

.important {
  background-color: #e84e40;
}

.complete {
  text-decoration: line-through;
}

.completedcard {
  background-color: #263238;
  color: #FFFFFF;
}
.completedcard p {
}


#toolbar {
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%
}

@media only screen and (max-device-width: 480px) {
  md-card {
    width: 100%;
  }
}
